name: Build LaTeX PDF
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out Git Repository
      uses: actions/checkout@v6

    - name: Build LaTeX files
      uses: xu-cheng/latex-action@v4
      with:
        root_file: |
            cv.tex
            resume.tex
        latexmk_use_lualatex: true

    - name: Check if the PDFs are generated
      run: |
        file cv.pdf | grep -q ' PDF '
        file resume.pdf | grep -q ' PDF '

    - name: Upload the PDFs
      uses: actions/upload-artifact@v4
      with:
        name: PDF
        path: |
            cv.pdf
            resume.pdf
